&__transperent-clean {
    width: 111px;
    height: 36px;
    font-size: 13px;
    color: #2C2C2C;
    padding: 0;
    background-color: transparent;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}