include ../includes/mixins.pug

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='assets/styles/index.css')
		if sprite.includes('css')
			link(rel='stylesheet', href='assets/styles/sprite.css.css')
		if sprite.includes('view')
			link(rel='stylesheet', href='assets/styles/sprite.view.css')
		title
			block title
	body
		header
			block header
		main
			block content
		footer
			block footer